html,body{
  margin:0;
  padding:0;
  background:var(--mui-palette-background-default);
}

main{
  padding:64px var(--mui-spacing-6);
  display:flex;
  flex-direction:column;
  gap:64px;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
}

.thumb-selected{
  outline:2px solid var(--mui-palette-primary-main);
  box-shadow:0 0 8px rgba(0,0,0,.25);
  border-radius:12px;
}
